.ContactForm {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
    }

    input {
        height: 1rem;
        border-radius: 7px;
        border: solid 1px #aaa;
        padding: 0.5rem;
        margin: 1rem 0 0.5rem 0;
    }

    button {
        font-weight: bold;
    }
}
