.Contact {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        background-color: aliceblue;
    }

    .actions {
        background-color: aqua;
        display: flex;
        flex-direction: column;
    }
}
